:root {
    --primary:      #3993cf;
    --l-primary:    #409ad6;
    --white:        #ecf0f1;
    --black:        #2c3e50;
    --purple:       #9b59b6;
    --cyan:         #1abc9c;
    --purpleBlack:  #2C3A47;
    --green:        #22c264;
    --l-green:      #5ae795;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.main-div{
    width: 100vw;
    height: 100vh;
    display: grid;
    background:rgb(255, 254, 254);
    
    place-items: center;
}
.eff-btn{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: bold;
    padding: 8px 3.2rem;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    z-index: 1;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.eff-btn:hover{
    text-decoration: none;
}
.btn-door-eff{
    color: var(--green);
}
.btn-door-eff::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: -1;
    transition: all 0.2s linear;
}
.btn-door-eff:hover:before{
    transform: translateX(-49%);
}
.btn-door-eff::after{
    content: "";
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    z-index: -1;
    transition: all 0.2s linear;
}
.btn-door-eff:hover:after{
    transform: translateX(50%);
}
 
/* btn-eff-2 */
.btn-slide-eff{
    color: var(--primary);
}
.btn-slide-eff::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: -1;
    transition: all 0.2s linear;
}
.btn-slide-eff:hover:before{
    transform: translateX(0%);
}
/* btn-eff-3 */
.btn-shutter-click-eff {
    background-color: var(--green);
    color: #FFFFFF;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: all 0.1s ease-in-out;
    box-shadow: 0 9px #999;
}
.btn-shutter-click-eff:active{
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.btn-shutter-click-eff::after {
    content: "";
    position: absolute;
    background: rgba(253, 253, 253, 0.603);
    display: block;
    left:-22%;
    top:-80%;
    padding-top: 70%;
    padding-left: 10%;
    margin-left: 0%;
    opacity: 0.5;
    transform: rotate(35deg);
    transition: all 0.3s ease-in-out;
}
.btn-shutter-click-eff:active:after {
    left:0%;
    margin-left: 150%;
    opacity: 0.5;
    transition: all 0.1s ease-in-out;
}

.btn-zoom-out-eff{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: bold;
    padding: 8px 3.2rem;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    -moz-box-shadow:    inset 0 0 5px var(--primary);
    -webkit-box-shadow: inset 0 0 5px var(--primary);
    box-shadow:         inset 0 0 5px var(--primary);
    overflow: visible !important;
    z-index: 1;
}
.btn-zoom-out-eff::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.5);
    opacity: 0;
    transition: all 0.2s linear;
}
.btn-zoom-out-eff:hover:before{
    transform: scale(1);
    opacity: 0.8;
}

.eff-zoom-out-btn{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: bold;
    padding: 8px 3.2rem;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    overflow: visible !important;
    transition: all 0.3s linear;
    z-index: 1;
}
.eff-zoom-out-btn:hover{
    box-shadow: none;
}
.eff-zoom-out-btn::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -moz-box-shadow:    inset 0 0 10px var(--l-primary);
    -webkit-box-shadow: inset 0 0 15px var(--primary);
    box-shadow:         inset 0 0 15px var(--l-primary);
    background: transparent;
    transform: scale(1.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.2s linear;
}
.eff-zoom-out-btn:hover:before{
    transform: scale(1);
    opacity: 0.8;
}

.btn-shutter-down-eff{
    background-color: var(--white);
}
.btn-shutter-down-eff::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 0;
    border-radius: 0% 0% 50% 50%;
    z-index: -1;
    opacity: 0.5;
    transition: all 0.4s linear;
}
.btn-shutter-down-eff:hover:before{
    height: 180%;
    opacity: 1;
}
.btn-shutter-up-eff{
    background-color: var(--white);
}
.btn-shutter-up-eff::before{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 0;
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    opacity: 0.5;
    transition: all 0.4s linear;
}
.btn-shutter-up-eff:hover:before{
    height: 180%;
    opacity: 1;
}

.btn-cross-border-eff{
    background-color: var(--white);
    overflow: visible !important;
    z-index: 1;
}
.btn-cross-border-eff::before{
    content: "";
    position: absolute;
    background-color: transparent;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    -moz-box-shadow:    inset 0 0 5px var(--primary);
    -webkit-box-shadow: inset 0 0 5px var(--primary);
    box-shadow:         inset 0 0 5px var(--primary);
    z-index: -1;
}
.btn-cross-border-eff:hover:before{
    top: -4%;
    left:-2%;
    padding: 5px;
}
.btn-cross-border-eff::after{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom:0%;
    right:0%;
    width: 100%;
    height: 100%;
    
    -moz-box-shadow:    inset 0 0 5px var(--primary);
    -webkit-box-shadow: inset 0 0 5px var(--primary);
    box-shadow:         inset 0 0 5px var(--primary);
    z-index: -1;
}
.btn-cross-border-eff:hover:after{
    bottom:-4%;
    right:-2%;
    padding: 5px;
    
}
.btn-cross-border-eff:active:after{
    bottom:0%;
    right:0%;
}
.btn-cross-border-eff:active:before{
    top:0%;
    left:0%;
}


.eff-fill-color::after{
    content: "";
    position: absolute;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    bottom:0;
    left:0;
    width: 0%;
    height: 10%;
    border-radius: 30px 30px 0px 0px;
    z-index: -1;
    transition: all 0.3s linear;
    
}
.eff-fill-color:hover:after{
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.eff-fill-color::before{
    content: "";
    position: absolute;
    text-transform: uppercase;
    top:0;
    right:0;
    width: 0%;
    height: 0%;
    border-radius: 0px 0px 30px 30px;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    
}
.eff-fill-color:hover:before{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.eff-1-border-to-fill{
    transition: all 0.4s linear;
}
.eff-1-border-to-fill::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:6%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s linear;
}
.eff-1-border-to-fill:hover:before{
    width:50%;
}
.eff-1-border-to-fill::after{
    content: "";
    position: absolute;
    top:0;
    right:0;
    width:6%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s linear;
}
.eff-1-border-to-fill:hover:after{
    width:51%;
}


.eff-2-border-to-fill{
    transition: all 0.1s linear;
}
.eff-2-border-to-fill:active{
    mix-blend-mode: luminosity;
}
.eff-2-border-to-fill::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:20%;
    height: 40%;
    border-top-width: 4px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 4px;
    border-style: solid;
    z-index: -1;
    transition: width 0.25s linear, height 0.4s linear ;
}
.eff-2-border-to-fill:hover:before{
    width:90%;
    height: 90%;
}

.eff-2-border-to-fill::after{
    content: "";
    position: absolute;
    bottom:0;
    right:0;
    width:20%;
    height: 40%;
    border-top-width: 0;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-left-width: 0;
    border-style: solid;
    z-index: -1;
    transition: width 0.25s linear, height 0.4s linear ;
}
.eff-2-border-to-fill:hover:after{
    width:90%;
    height: 90%;
}

/* glass-nightly-btn */

.glass-nightly-btn{
    position: relative;
    width: 250px;
    height: 60px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.glass-nightly-btn:hover{
    text-decoration: none;
}
.glassmorphism-btn{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 3.2rem;
    border-radius: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px raga(0,0,0,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(231, 229, 229);
    z-index:1;
    overflow: hidden;
    backdrop-filter: blur(15px);
    transition: all 0.3s;
}
.glassmorphism-btn:hover{
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}
.glassmorphism-btn:active{
    text-decoration: none;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.74);
}
.glassmorphism-btn::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height:100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.3s;
}
.glassmorphism-btn:hover:before{
    transform: skewX(45deg) translateX(200%);
}
.glass-nightly-btn::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 30px;
    height:10px;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: 0.3s;
    transition-delay: 0s;
}
.glass-nightly-btn:hover:before{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.3s;

}
.glass-nightly-btn::after{
    content: "";
    position: absolute;
    left: 50%;
    top: -5px;
    width: 30px;
    height:10px;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: 0.3s;
    transition-delay: 0s;
}
.glass-nightly-btn:hover:after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.3s;
}

.lines-to-fill-btn{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 3.2rem;
    font-weight: bold;
    padding: 8px 3.2rem;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition-delay: 0s;
    z-index: 1;
}
.lines-to-fill-btn:hover{
    transition-delay: 1.3s;
    text-decoration: none;
    
}
.lines-to-fill-btn::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    transition: width 0.4s,left 0.4s,height 0.4s, box-shadow 0.4s;
    transition-delay: 1s, 0.4s, 0s, 0s;
    z-index: -1;
}
.lines-to-fill-btn:hover:before{
    width:50%;
    height:100%;
    left: -2px;
    transition-delay: 0s, 0.4s, 1s, 1s;
}
.lines-to-fill-btn::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    transition: width 0.4s,left 0.4s,height 0.4s, box-shadow 0.4s;
    transition-delay: 1s, 0.4s, 0s, 0s;
    z-index: -1;
}
.lines-to-fill-btn:hover:after{
    width:50%;
    height:100%;
    right: -2px;
    transition-delay: 0s, 0.4s, 1s, 1s;
}

.eff-icon-rev-btn{
    transition: all 0.2s linear;
    
}
.eff-icon-rev-btn:hover{
    text-decoration: none;
    /*padding:top right bottom left */
    padding: 8px 4.0rem 8px 2.4rem;
}
.eff-icon-rev-btn:active {
    padding: 8px 3.2rem;
}
.eff-icon-rev-btn > span:last-child{
    position: absolute;
    display: flex;
    width: 0%;
    height: 100%;
    top: 0;
    right:0;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    transition: all 0.18s linear;
}
.eff-icon-rev-btn:hover > span:last-child{
    width: 16%;
}
.eff-icon-rev-btn:active > span:last-child{
    width: 0%;
}

.eff-icon-btn{
    /*padding:top right bottom left */
    padding: 8px 4.0rem 8px 2.4rem;
    transition: all 0.2s linear, opacity 0s linear;
}
.eff-icon-btn:hover{
    text-decoration: none;
    padding: 8px 3.2rem;
}
.eff-icon-btn:active {
    
    opacity: 0.8;
}
.eff-icon-btn > span:last-child{
    position: absolute;
    display: flex;
    width: 16%;
    height: 100%;
    top: 0;
    right:0;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    transition: all 0.18s linear;
}
.eff-icon-btn:hover > span:last-child{
    width: 0%;
}

.eff-db-icon-btn{
    /*padding:top right bottom left */
    padding: 8px 4rem 8px 4rem;
    transition: all 0.2s linear, opacity 0s linear;
}
.eff-db-icon-btn:hover{
    text-decoration: none;
}
.eff-db-icon-btn:active {
    opacity: 0.8;
}
.eff-db-icon-btn > span:nth-child(1){
    position: absolute;
    display: flex;
    width: 16%;
    height: 100%;
    top: 0;
    left:0;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    transition: all 0.18s linear;
}
.eff-db-icon-btn:hover > span:nth-child(1){
    width: 0%;
} 
.eff-db-icon-btn > span:nth-child(3){
    position: absolute;
    display: flex;
    width: 16%;
    height: 100%;
    top: 0;
    right:0;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    transition: all 0.18s linear;
}
.eff-db-icon-btn:hover > span:nth-child(3){
    width: 0%;
}

.eff-rev-db-icon-btn{
    /*padding:top right bottom left */
    padding: 8px 4rem 8px 4rem;
    transition: all 0.2s linear, opacity 0s linear;
}
.eff-rev-db-icon-btn:hover{
    text-decoration: none;
}
.eff-rev-db-icon-btn:active {
    opacity: 0.8;
}
.eff-rev-db-icon-btn > span:nth-child(1){
    position: absolute;
    display: flex;
    width: 0%;
    height: 100%;
    top: 0;
    left:0;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    transition: all 0.18s linear;
}
.eff-rev-db-icon-btn:hover > span:nth-child(1){
    width: 16%;
} 
.eff-rev-db-icon-btn > span:nth-child(3){
    position: absolute;
    display: flex;
    width: 0%;
    height: 100%;
    top: 0;
    right:0;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    transition: all 0.18s linear;
}
.eff-rev-db-icon-btn:hover > span:nth-child(3){
    width: 16%;
}

.eff-shiney-btn{
    background: transparent;
    border-bottom-width: 4px;
    border-bottom-style: ridge;
}
.eff-shiney-btn:hover {
    border-bottom-width: 4px;
    border-bottom-style: ridge;
}
.eff-shiney-btn::before{
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.eff-shiney-btn:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }

 /* On hover open door */
.eff-hidden-door-btn{
    background: rgb(255, 255, 255);
    overflow: visible !important;
    transition: all 0.5s ease-in-out;
}
.eff-hidden-door-btn>span:nth-child(1){
    position: absolute;
    display: flex;
    top:0px;
    left:-5%;
    width: 110%;
    height: 50%;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}
.eff-hidden-door-btn:hover>span:first-child{
    top:-50%;
}
.eff-hidden-door-btn>span:nth-child(1) > icon{
    position: absolute;
    display: flex;
    top: 22%;
    align-items: center;
    justify-content: center;
    background: rgba(23, 141, 238, 0);
}
.eff-hidden-door-btn>span:nth-child(2){
    display: flex;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    z-index: -2;
}
.eff-hidden-door-btn>span:nth-child(3){
    position: absolute;
    display: flex;
    bottom:0;
    right: -5%;
    width: 110%;
    height: 50%;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
.eff-hidden-door-btn:hover>span:nth-child(3){
    bottom:-50%;
}
.eff-hidden-door-btn>span:nth-child(3) > icon{
    position: absolute;
    display: flex;
    bottom: 26%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 205, 5, 0);
}