:root {
    --red:          rgb(245, 52, 52);
    --l-red:        rgb(231, 89, 89);
    --d-red:        rgb(252, 0, 0);
    --blue:         #2c91fd;
    --d-blue:       #0a7df8;
    --l-blue:       #6ab3e4;
    --white:        #ecf0f1;
    --black:        #141516;
    --purple:       #9b59b6;
    --l-purple:     #c57ce2;
    --d-purple:     #45115a;
    --cyan:         #1abc9c;
    --l-cyan:       #5febcf;
    --purpleBlack:  #2C3A47;
    --green:        #2ecc71;
    --l-green:      #5ae795;
    --d-green:      #069e46;
    --yellow:       #ffc107;
    --d-yellow:     #dda601; 
    --l-yellow:     #f5e663; 
}

.eff-btn-transparent{
    background-color: transparent;
}
.eff-outline-green{
    color: var(--green);
    outline-color:var(--l-green);
    outline-style: inset;
}
.eff-outline-green:hover{
    color: var(--white);
}
.eff-outline-blue{
    color: var(--blue);
    outline-color:var(--l-blue);
    outline-style: inset;
}
.eff-outline-blue:hover{
    color: var(--white);
}
.eff-outline-cyan{
    color: var(--cyan);
    outline-color:var(--l-cyan);
    outline-style: inset;
}
.eff-outline-cyan:hover{
    color: var(--l-cyan);
}
.eff-outline-white{
    color: var(--white);
    outline-color:var(--white);
    outline-style: inset;
}
.eff-outline-white:hover{
    color: var(--l-cyan);
}

.box-blue-shadow{
    -moz-box-shadow:    inset 0 0 5px var(--blue);
    -webkit-box-shadow: inset 0 0 5px var(--blue);
    box-shadow:         inset 0 0 5px var(--blue);
}
.box-green-shadow{
    -moz-box-shadow:    inset 0 0 5px var(--green);
    -webkit-box-shadow: inset 0 0 5px var(--green);
    box-shadow:         inset 0 0 5px var(--green);
}
.box-yellow-shadow{
    -moz-box-shadow:    inset 0 0 5px var(--yellow);
    -webkit-box-shadow: inset 0 0 5px var(--yellow);
    box-shadow:         inset 0 0 5px var(--yellow);
}
.box-purple-shadow{
    -moz-box-shadow:    inset 0 0 5px var(--purple);
    -webkit-box-shadow: inset 0 0 5px var(--purple);
    box-shadow:         inset 0 0 5px var(--purple);
}
.box-cyan-shadow{
    -moz-box-shadow:    inset 0 0 5px var(--cyan);
    -webkit-box-shadow: inset 0 0 5px var(--cyan);
    box-shadow:         inset 0 0 5px var(--cyan);
}
.box-white-shadow{
    -moz-box-shadow:    inset 0 0 5px var(--white);
    -webkit-box-shadow: inset 0 0 5px var(--white);
    box-shadow:         inset 0 0 5px var(--white);
}
.box-black-shadow{
    -moz-box-shadow:    inset 0 0 5px var(--black);
    -webkit-box-shadow: inset 0 0 5px var(--black);
    box-shadow:         inset 0 0 5px var(--black) ;
}
.eff-glow-green-hv:hover{
    box-shadow: 0 0 10px var(--l-green),
                0 0 20px var(--l-green),
                0 0 40px var(--l-green),
                0 0 80px var(--l-green),
                0 0 160px var(--l-green);

}
.eff-glow-blue-hv:hover{
    box-shadow: 0 0 10px var(--blue),
                0 0 20px var(--blue),
                0 0 40px var(--blue),
                0 0 80px var(--blue),
                0 0 160px var(--blue);
}
.eff-glow-purple-hv:hover{
    box-shadow: 0 0 10px var(--l-purple),
                0 0 20px var(--l-purple),
                0 0 40px var(--l-purple),
                0 0 80px var(--l-purple),
                0 0 160px var(--l-purple);
}
.eff-glow-yellow-hv:hover{
    box-shadow: 0 0 10px var(--l-yellow),
                0 0 20px var(--l-yellow),
                0 0 40px var(--l-yellow),
                0 0 80px var(--l-yellow),
                0 0 160px var(--l-yellow);
}
.eff-glow-red-hv:hover{
    box-shadow: 0 0 10px var(--l-red),
                0 0 20px var(--l-red),
                0 0 40px var(--l-red),
                0 0 80px var(--l-red),
                0 0 160px var(--l-red);
}

.eff-border-green,.eff-border-green::after,.eff-border-green::before{
    border-color: var(--green);
}
.eff-border-red,.eff-border-red::after,.eff-border-red::before{
    border-color: var(--red);
}
.eff-border-blue,.eff-border-blue::after,.eff-border-blue::before{
    border-color: var(--blue);
}
.eff-border-cyan,.eff-border-cyan::after,.eff-border-cyan::before{
    border-color: var(--cyan);
}
.eff-border-purple,.eff-border-purple::after,.eff-border-purple::before{
    border-color: var(--purple);
}

.text-yellow{
    color: var(--d-yellow) !important;
}
.text-yellow:hover{
    color: var(--yellow) !important;
}
.text-red{
    color: var(--red) !important;
}
.text-red:hover{
    color: var(--d-red) !important;
}
.text-blue{
    color: var(--d-blue);
}
.text-blue:hover{
    color: var(--blue);
}
.text-green{
    color: var(--l-green);
}
.text-green:hover{
    color: var(--d-green);
}
.text-blue-hv:hover{
    color: var(--blue);
}
.text-white-hv:hover{
    color: var(--white);
}
.text-black-hv:hover{
    color: var(--black);
}
.text-purple{
    color: var(--d-purple) !important;
}
.text-purple:hover{
    color: var(--purple) !important;
}
.text-l-purple{
    color: var(--purple) !important;
}
.text-l-purple:hover{
    color: var(--d-purple) !important;
}
.text-purple-hv:hover{
    color: var(--l-purple);
}
.text-cyan-hv:hover{
    color: var(--cyan);
}
.text-green-hv:hover{
    color: var(--green);
}
.text-purpleBlack-hv:hover{
    color: var(--purpleBlack);
}

/* .btn-green-eff button color effects on active */
.eff-green,.btn-green-eff::before,.btn-green-eff::after{
    background-color: var(--green);
}
.eff-green:active,.btn-green-eff:active:before,.btn-green-eff:active:after{
    background-color: var(--l-green);
}
.eff-green-hv:hover,.btn-green-eff-hv:hover:before,.btn-green-eff-hv:hover:after{
    background-color: var(--green) !important;
}
.eff-l-green-hv:hover,.btn-l-green-eff-hv:hover:before,.btn-l-green-eff-hv:hover:after{
    background-color: var(--l-green) !important;
}
.eff-blue,.btn-blue-eff::before,.btn-blue-eff::after{
    background-color: var(--blue);
}
.eff-blue:active,.btn-blue-eff:active:before,.btn-blue-eff:active:after{
    background-color: var(--l-blue);
}
.eff-blue-hv:hover,.btn-blue-eff-hv:hover:before,.btn-blue-eff-hv:hover:after{
    background-color: var(--blue);
}
.eff-purple,.btn-purple-eff::before,.btn-purple-eff::after{
    background-color: var(--purple);
}
.eff-purple-hv:hover,.btn-purple-eff-hv:hover:before,.btn-purple-eff-hv:hover:after{
    background-color: var(--purple) !important;
}
.eff-purple:active,.btn-purple-eff:active:before,.btn-purple-eff:active:after{
    background-color: var(--l-purple);
}
.eff-cyan,.btn-cyan-eff::before,.btn-cyan-eff::after{
    background-color: var(--cyan);
}
.eff-cyan-hv:hover,.btn-cyan-eff-hv:hover:before,.btn-cyan-eff-hv:hover:after{
    background-color: var(--cyan) !important;
}
.eff-cyan:active,.btn-cyan-eff:active:before,.btn-cyan-eff:active:after{
    background-color: var(--l-cyan);
}
.eff-yellow,.btn-yellow-eff::before,.btn-yellow-eff::after{
    background-color: var(--yellow);
    color: var(--purpleBlack);
}
.eff-purpleBlack{
    background-color: var(--purpleBlack);
}
.eff-black{
    background-color: var(--black);
}
.eff-yellow:active,.btn-yellow-eff:active:before,.btn-yellow-eff:active:after{
    background-color: var(--l-yellow);
    color: var(--purpleBlack);
}

/* Color effects on Hover */
.eff-green-hv:hover{
    color: var(--white);
    background-color: var(--green);
}
.eff-blue-hv:hover{
    color: var(--white);
    background-color: var(--blue);
}
.eff-black-hv:hover{
    color: var(--white);
    background-color: var(--black);
}
.eff-white-hv:hover{
    color: var(--black);
    background-color: var(--white);
}
.eff-purple-hv:hover{
    color: var(--white);
    background-color: var(--purple);
}
.eff-cyan-hv:hover{
    color: var(--purpleBlack);
    background-color: var(--cyan);
}
.eff-purpleBlack-hv:hover{
    color: var(--white);
    background-color: var(--purpleBlack);
}

.eff-nightly-red-btn::after,
.eff-nightly-red-btn::before{
 background: #ff1f71;
 box-shadow: 0 0 5px #ff1f71,
 0 0 15px #ff1f71,
 0 0 30px #ff1f71,
 0 0 60px #ff1f71;
}
.eff-nightly-green-btn::after,
.eff-nightly-green-btn::before{
 background: #1fff32;
 box-shadow: 0 0 5px #1fff32,
 0 0 15px #1fff32,
 0 0 30px #1fff32,
 0 0 60px #1fff32;
}

.eff-nightly-pink-btn::after,
.eff-nightly-pink-btn::before{
 background: #da1fff;
 box-shadow: 0 0 5px #da1fff,
 0 0 15px #da1fff,
 0 0 30px #da1fff,
 0 0 60px #da1fff;
}

.eff-nightly-purple-btn::after,
.eff-nightly-purple-btn::before{
 background: var(--purple);
 box-shadow: 0 0 5px var(--purple),
 0 0 15px var(--purple),
 0 0 30px var(--purple),
 0 0 60px var(--purple);
}

.eff-nightly-blue-btn::after,
.eff-nightly-blue-btn::before{
 background: var(--blue);
 box-shadow: 0 0 5px var(--blue),
 0 0 15px var(--blue),
 0 0 30px var(--blue),
 0 0 60px var(--blue);
}
.eff-nightly-yellow-btn::after,
.eff-nightly-yellow-btn::before{
 background: var(--yellow);
 box-shadow: 0 0 5px var(--yellow),
 0 0 15px var(--yellow),
 0 0 30px var(--yellow),
 0 0 60px var(--yellow);
}
.eff-nightly-cyan-btn::after,
.eff-nightly-cyan-btn::before{
 background: var(--cyan);
 box-shadow: 0 0 5px var(--cyan),
 0 0 15px var(--cyan),
 0 0 30px var(--cyan),
 0 0 60px var(--cyan);
}
.lines-to-fill-green{
    border: 2px solid #0f0;
    color: #0f0;
}
.lines-to-fill-green:hover{
    color: #fff;
}
.lines-to-fill-green::before{
    background-color: #0f0;
    box-shadow: 5px -8px 0 #0f0,
                5px 8px 0 #0f0;
}
.lines-to-fill-green:hover:before{
    box-shadow: 5px 0 0 #0f0,
                5px 0 0 #0f0;
}
.lines-to-fill-green::after{
    background-color: #0f0;
    box-shadow: -5px -8px 0 #0f0,
                -5px 8px 0 #0f0;
}
.lines-to-fill-green:hover:after{
    box-shadow: -5px 0 0 #0f0,
                -5px 0 0 #0f0;
}

.lines-to-fill-blue{
    border: 2px solid var(--blue);
    color: var(--blue);
}
.lines-to-fill-blue:hover{
    color: var(--white);
}
.lines-to-fill-blue::before{
    background-color: var(--l-blue);
    box-shadow: 5px -8px 0 var(--l-blue),
                5px 8px 0 var(--l-blue);
}
.lines-to-fill-blue:hover:before{
    box-shadow: 5px 0 0 var(--l-blue),
                5px 0 0 var(--l-blue);
}
.lines-to-fill-blue::after{
    background-color: var(--l-blue);
    box-shadow: -5px -8px 0 var(--l-blue),
                -5px 8px 0 var(--l-blue);
}
.lines-to-fill-blue:hover:after{
    box-shadow: -5px 0 0 var(--l-blue),
                -5px 0 0 var(--l-blue);
}

.lines-to-fill-yellow{
    border: 2px solid var(--yellow);
    color: var(--yellow);
}
.lines-to-fill-yellow:hover{
    color: var(--white);
}
.lines-to-fill-yellow::before{
    background-color: var(--yellow);
    box-shadow: 5px -8px 0 var(--yellow),
                5px 8px 0 var(--yellow);
}
.lines-to-fill-yellow:hover:before{
    box-shadow: 5px 0 0 var(--yellow),
                5px 0 0 var(--yellow);
}
.lines-to-fill-yellow::after{
    background-color: var(--yellow);
    box-shadow: -5px -8px 0 var(--yellow),
                -5px 8px 0 var(--yellow);
}
.lines-to-fill-yellow:hover:after{
    box-shadow: -5px 0 0 var(--yellow),
                -5px 0 0 var(--yellow);
}
.lines-to-fill-purple{
    border: 2px solid var(--purple);
    color: var(--purple);
}
.lines-to-fill-purple:hover{
    color: var(--white);
}
.lines-to-fill-purple::before{
    background-color: var(--purple);
    box-shadow: 5px -8px 0 var(--purple),
                5px 8px 0 var(--purple);
}
.lines-to-fill-purple:hover:before{
    box-shadow: 5px 0 0 var(--purple),
                5px 0 0 var(--purple);
}
.lines-to-fill-purple::after{
    background-color: var(--purple);
    box-shadow: -5px -8px 0 var(--purple),
                -5px 8px 0 var(--purple);
}
.lines-to-fill-purple:hover:after{
    box-shadow: -5px 0 0 var(--purple),
                -5px 0 0 var(--purple);
}

.lines-to-fill-red{
    border: 2px solid var(--red);
    color: var(--red);
}
.lines-to-fill-red:hover{
    color: var(--white);
}
.lines-to-fill-red::before{
    background-color: var(--red);
    box-shadow: 5px -8px 0 var(--red),
                5px 8px 0 var(--red);
}
.lines-to-fill-red:hover:before{
    box-shadow: 5px 0 0 var(--red),
                5px 0 0 var(--red);
}
.lines-to-fill-red::after{
    background-color: var(--red);
    box-shadow: -5px -8px 0 var(--red),
                -5px 8px 0 var(--red);
}
.lines-to-fill-red:hover:after{
    box-shadow: -5px 0 0 var(--red),
                -5px 0 0 var(--red);
}